body.light-mode {
  background-color: #ffffff;
  color: #1e2b37;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #141d25;
  color: #2c3e50;
  transition: background-color 0.3s, color 0.3s;
}

input.dark-mode{
  color: red;
  background-color: purple;
}

svg{
  float: right;
  cursor: pointer;
}
