@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group{
  position: sticky;
  bottom: 0;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 250px; 
  position: fixed;
  top: 0;
  left: -250px;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  background-color: #bdc3c7;
}

.sidebar h2, .sidebar p {
  color: #818181;
  padding: 8px 8px 8px 32px;
}

.sidebar h2:hover, .sidebar p:hover {
  color: #f1f1f1;
}

.closebtn {
  position: absolute;
  top: 6px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

#main {
  transition: margin-left .3s;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #bdc3c7;
  color: black;
  border: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 10px;
}

.openbtn:hover{
  background-color: #989898;
}

.sidebar.show {
  left: 0;
}

@media screen and (max-width: 1060px) {
  #inputId{
    border-radius: 10px;
  }
  input{
    float: right;
  }
  span{
    float: right;
  }
}

.card-body:hover{
  cursor: pointer;
}

@keyframes slideInAndGrow {
  0% {
    transform: translateY(20px) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

#chat{
  float: left;
  margin-top: 40px;
  margin-left: 15px;
  font-size: x-large;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

#chat:active{
  background-color: #1e2937;
}
